ipos/WebContent/resources/driveC/ipos/conf/reservation.xsd

<?xml version = "1.0" encoding = "utf-8"?>
<xs:schema attributeFormDefault = "unqualified" elementFormDefault = "qualified" xmlns:xs = "http://www.w3.org/2001/XMLSchema">
   <xs:element name = "reservation">
   <xs:element name = "rsvp">
      <xs:complexType>
         <xs:sequence>
            <xs:element name = "description" type = "xs:string" />
            <xs:element name = "startDate" type = "xs:string" />
			<xs:element name = "endDate" type = "xs:string" />
         </xs:sequence>
         <xs:attribute name = "id" type = "xs:string" use = "required" />
      </xs:complexType>
   </xs:element>
   </xs:element>
</xs:schema>